This notebook was developed by Alice Hsu for UEA Python PPDs 2025. Last updated: 10/2025.

# Prerequisites
**This course assumes previous programming experience.** You should be fairly comfortable with the following concepts in another programming language (e.g., R, MATLAB).
* Data Types
* Data Structures (e.g., lists, arrays)
* Indexing (slicing and accessing data)
* If Statements
* For Loops

If you are new to programming, you should take the **Introduction to Programming** course instead of this one.

# Table of Contents
1. **Variables**
2. **Data Types**
    <ol type="a">
  <li><b>Integers and Floats</li>
  <li><b>Strings</b></li>
    </ol>
3. **Data Structures**
    <ol type="a">
  <li><b>Lists</b></li>
    <ol type="a">
        <li>Creating a list</li>
        <li>Accessing items in a list</li>
        <ol type="a">
            <li>Indexing and Slicing</li>
            </ol>
        <li>Changing items in a list</li>
        <li>List Methods</li>
    </ol>
  <li>Tuples</li>
   <li>Dictionaries</li>
    </ol>
4. **Control Flow**
<ol type="a">
  <li>Booleans</li>
  <li><b>Conditional (if-elif-else) statements</b></li>
   <li><b>Loops</b></li>
        <ol type="a">
            <li>For loops</li>
            <li>While loops</li>
            </ol>
    </ol>
5. **Coding Challenges**
5. **Functions**

# 0. <u>Anaconda, Jupyter, Python...what?</u>

**Python** is the **programming language** we are going to write code in.

**Jupyter Notebooks** are a platform for writing and testing code. This file that you have open, with the .ipynb extension, is called a Jupyter notebook. We are using Jupyter through a package manager called Anaconda.

**Anaconda** is a **package manager**: when you code in Python, you may **download different packages** to do different kinds of analysis. For example, if you do a lot of geospatial analysis, there are specific packages used for analyzing and plotting this kind of data.

* Sometimes when you use many different packages, _they can conflict_. Anaconda allows you to set up different **environments** to use different packages to prevent this.
    * You can think of an **<u>environment</u>** as a **specialized toolbox** - it contains all the tools you need to work on your data.
    * If you kept all of your tools (i.e., packages) in the same place, they might damage each other or get lost (i.e., create package conflicts). Anaconda helps put those tools (packages) in the right spot to prevent these from happening. You can also prevent your tools from getting damaged by putting them in different toolboxes (i.e., different environments).
    * Remember that .yml file we had you download and drag into Anaconda? We used that .yml file to create an environment with all the packages we need for the Python PPDs here at UEA.

**When you download Anaconda, Jupyter generally comes pre-installed**. This means you can simply download Anaconda and use Jupyter right away to write Python code.

Anaconda and Jupyter are two very common platforms used for coding in Python, R, and other languages. Many supercomputers have Anaconda and Jupyter integrated into them (including ADA and HALI here at UEA).

# 1. <u>Variables</u>

In Python, variables are assigned with a **single equal sign**:

In [ ]:
myvar1 = 5

### Variable naming rules:
* Variables are **case-sensitive**.
    * ```myvar``` is not the same as ```myVar```
* Your variable name **cannot start with a number**.
    * E.g., 2nd_number = 10
* Your variable name can only include **letters**, **numbers**, and **underscores**.
* Your variable name **should not be the same thing as a built-in Python function**.
    * While this is not technically forbidden, you may overwrite important functions which you will then be unable to use later.
    * E.g., ```list```, ```int```, ```str``` ... and also:
    * ``and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, with, while, yield``...the list goes on.

### <span style="color:orange">EX1
In the cell below, do the following:
* Create a variable named after your initials.
* Assign it a value equivalent to your birth year.

In [ ]:
# Your code here

----------

### *A quick aside about displaying variables*

You will notice that by default, Python will not print a result to the screen unless you ask it to with the ``print()`` command, or putting the variable by itself in a cell:

In [1]:
# Print function
print(z)

Printing your variable(s) (via the ``print()`` function or using the variable name) is useful for **checking the value of variables**. It is also useful for if you forget whether you have used a variable name **("Have I used `myvar` as a variable name yet?")** or if you forgot what value you assigned to a certain variable **("What did I set ``a`` equal to again?")**.

You must be careful you **do not accidentally overwrite variables** (if you aren't doing so on purpose) - if you set the same variable name equal to different values, it will take on the last value.

In [2]:
x = "hello world"
x = 4
x = 3.73

What will the following cell output?

In [ ]:
print(x)

-----

# 2. <u> Data Types </u>

In Python, every variable has a **type**. Different data types have different properties, and the type also determines what operations can be performed on that variable. Some common data types include:

| Type        | Example        | Description                                                  |
|-------------|----------------|--------------------------------------------------------------|
| ``int``     | ``x = 1``      | integers (i.e., whole numbers)                               |
| ``float``   | ``x = 1.0``    | floating-point numbers (i.e., real numbers)                  |
| ``bool``    | ``x = True``   | Boolean: True/False values                                   |
| ``str``     | ``x = 'abc'``  | String: characters or text                                   |
| ``complex`` | ``x = 1 + 2j`` | Complex numbers (i.e., numbers with real and imaginary part) |

You can use the built-in function **```type()```** to **check the data type of variables you have created**. This can be useful to check what sorts of operations can be performed on your variables.

-------------

## Integers and Floats

Integers and floats represent numbers. You can do **basic mathematical operations** with them. Basic maths are supported in Python - no need to download any special packages to do:

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

### <span style="color:orange">EX2

Write the following code in the cell below.
* Create a variable called **`pi`** that stores the value **3.1415**. 
* Create a variable called **`r`** that stores the value of **4**. 
* Create a variable called **`A_circ`** that is equal to the **product of `pi` and $r^{2}$**.

In [ ]:
# Your code here

You can also change between different data types using their names as functions:

In [7]:
a = 3.141
a = int(a)

b = 2
b = float(b)

c = 2024
c = str(c)

d = 0
d = bool(d)

In [3]:
# Print the variables above here:

### <span style="color:orange">EX3

Add together `a` and `b` from the cell above and use the `type()` function to check its data type.

In [9]:
# Your code here

## Strings

**Strings** in Python are created with **single** or **double quotes**. Generally, they are used to represent **text**.

You can use just about any characters on your keyboard in a string. For example:
```
name = 'alice v
bday = '213'
pwd = “plsd0n’th@ckm3!”```

Python has many extremely useful functions and methods you can use on strings. **A full list of string methods** can be found at this **[link](https://www.w3schools.com/python/python_ref_string.asp)**.

| Method       | Syntax           | Description                                  |
|--------------|------------------|----------------------------------------------|
| ``upper()``  | ``myStr.upper()``    | Capitalizes all characters in ``myStr``         |
| ``lower()``  | ``myStr.lower()``    | Lower cases all characters in ``myStr``         |
| ``replace()``| ``myStr.replace(old,new)`` | In ``myStr``, replaces the <br>characters specified in ``old`` by the<br>characters specified in ``new``           |
| ``split()``  | ``myStr.split(dtr)``  | Splits the characters of ``myStr``<br>by the delimiter specified by ``dtr``|

We will demonstrate examples of the above methods using the strings in the cell below.

In [1]:
phrase = 'Welcome to python class.'
ans = "I mean, I just thought there'd be more snakes :("

Before running the lines of code below, see if you can guess what the output will be!

In [23]:
phrase.upper()

In [24]:
phrase.lower()

In [25]:
phrase.replace('python','r')

In [26]:
phrase.split(' ')

In [27]:
phrase+ans

### _A quick aside on methods..._
You might have noticed that the syntax for modifying the variable `phrase` above looks a little different than in MATLAB. If you are coming from MATLAB, you might have more intuitively written:

`phrase = phrase.upper()`

However, this is not necessary in Python because **methods** (e.g., `.upper()`, `.replace()`, etc) **modify the object** (i.e., `phrase`) **in place**.

This is a special feature of methods, which are functions that are specific to a specific type of data object: for example, in the table above, all of those methods are specific to the string datatype. This means that you can't call these methods on, say a number or a list (covered down below).

### <span style="color:orange">EX3

Using the variables ```name = 'alice v'``` and ```last = 'hsu'```, we want to create a new variable called ```fullname``` that is equal to ```'Alice V Hsu'```.
1. First, **concatenate** the first and last names - but don’t forget to **add a space** between the first and last names (i.e., after the ```v``` in ```alice v```).
2. Click this link to the [online table of string methods](https://www.w3schools.com/python/python_ref_string.asp).
3. Using the table, scroll through and **find the string method** that is used to **capitalize every word in a string**.
4. Read the documentation on this method and then use it to capitalize your string.

In [11]:
name = 'alice v'
last = 'hsu'

# Your code here

Remember that different data types may not be compatible with each other. You can only perform **certain operations** on **certain data types**.

### <span style="color:orange">EX4
Why doesn't the following line of code work? Put the following code into a cell in your Jupyter notebook and see what happens when you try to run it.

```mycalc = '4' + 3```

In [ ]:
# Your code here

How would you modify the above line of code so that it works?

In [ ]:
# Your code here

### <span style="color:orange"> EX5

A. Create a variable called ``filename`` that is a string that includes the model, model number, country, date, and file type. Separate the model, model number, country, and date with a dash ```'-'```.

In [2]:
model = 'MetMod'
model_no = 3
country = "USA"
date = 19970213
filetype = '.csv'

# Your code here

B. Now say we wanted to split apart ```filename```. Choose the appropriate method from the table above and then write the code in the cell below.

In [ ]:
# Your code here

-----------

## Challenge Warm Up: Temperature Converter
**<u>Concepts covered</u>**
* Basic maths
* Strings and string methods
* Data type conversion

**<u> Instructions </u>**

In this exercise, you will write some code that converts a temperature from Celsius to Fahrenheit and outputs it nicely as a string.

The formula for converting from Celsius to Fahrenheit is:

<center> $F = \frac{9}{5}*C + 32$ </center>

where F is the temperature in Fahrenheit and C is the temperature in Celsius.

**<u>Pseudocode</u>**
* **Create a variable called `C`** that represents the temperature that you'd like to convert to Fahrenheit.
* Using the formula provided above, **create a variable called `F`** that is equal to the temperature specified by `C` converted into Fahrenheit.
    * Note that `F` should change automatically if you change what you set `C` equal to.
* **Create two strings** that tell you what the temperature is in Celsius and Fahrenheit. For example:
    * Create one string that is equal to `'Temperature in Celsius: 0 degrees'`, where the `0` is whatever you set `C` equal to.
    * Create one string that is equal to `'Temperature in Fahrenheit: 32 degrees'`, where the `32` is calculated based on what you set `C` equal to.

In [ ]:
# Your code here

--------

# 3. <u>Data Structures

| Type Name | Example                   |Description                            |
|-----------|---------------------------|---------------------------------------|
| ``list``  | ``[1, 2, 3]``             | Ordered collection                    |
| ``tuple`` | ``(1, 2, 3)``             | Immutable ordered collection          |
| ``dict``  | ``{'a':1, 'b':2, 'c':3}`` | Ordered (key,value) mapping         |
| ``set``   | ``{1, 2, 3}``             | Unordered collection of unique values |

**NOTE**: round ( ), square [ ], and curly { } brackets have distinct meanings - you can't use them interchangeably.

## Lists
Lists are the basic *ordered* and *mutable* data collection type in Python.

**Ordered**: the elements in the list have an order.

**Mutable**: the order or value of the elements within a list can be changed.

### <u> Creating a List

In [30]:
my_list = ['apple','banana','cherry','durian']

### <u> Accessing items in a lists

### Indexing
You can access a single item in a list using its **index**. An index represents the **position of an item** in a collection. Note that in Python, **indexing starts at 0**. This means that the first item in a list would have the index of 0.

To access an item in a list, take the name of your list followed by the index in square brackets. For example, to access the first item in `my_list` from above, you would write:

In [ ]:
my_list[0]

You can also access items in a list using a **negative index**. A negative index represents **the position of an item, but starting from the back**. This means the last item has an index of -1, second to last -2, etc.

**Note this is different from R.**
(R users: Unfortunately, there is not simple built-in way to index "everything except for" a certain element).

| Index |0|1|2|3|
|-------|-------|----|-------|---------|
|`my_list`|`'apple'`|`'banana'`|`'cherry'`|`'durian'`|
|**Negative Index**|**-4**|**-3**|**-2**|**-1**|

In [ ]:
my_list[-1]

Note that you can also index the **characters within strings**. For example:

In [ ]:
x = 'hello'
x[-1]

### <span style="color:orange">EX6: Accessing items in a list
    
Say you have a list called `some_list`:

In [28]:
some_list = [1, 1, '2', 'hello?', 583, 'llama', [2,4,6], 3.14159]

Write code to access the 3rd item in `some_list`.

Write code to access the last item in `some_list`.

Write code to access the 6 in the 2nd to last item in `some_list`.

### Slicing

You can also **access multiple items**, or **slices**, of your list by using a colon (`:`) along with the index. The colon specifies the **range of the items** in your last that you want.

To access a slice in a list, you specify the **starting and ending indices of the items you want, with a colon in between**. However, note that when you use the colon to specify a range, **this range is not inclusive of the number specified on the right side**.

For example, see what the following cell outputs:

In [ ]:
my_list = ['apple','banana','cherry','durian']

my_list[1:3]

You can also omit either the starting or ending index if you would like to access all items to or from the start or end of the list.

In [ ]:
my_list[2:]
my_list[:2]

Similarly, you can also **slice characters within strings**.

In [ ]:
x = 'hello'
x[0:2]

### <u> Changing items in a list

To change an item in a list, you first need to **access the item in the list via its index**, and then **set it equal to what you would like to change it to**.

In [ ]:
my_list[0] = 1234

### <span style="color:orange"> EX 7: Changing elements in a list

Complete the exercises below.

In [ ]:
some_list = [1, 1, '2', 'hello?',583, 'llama', [2,4,6], 3.14159]

(A) Change the first element of `some_list` to a string representing your name.

In [ ]:
# Your code for A

(B) Change the third element of `some_list` to the float 2.

In [ ]:
# Your code for B

---

### <u> List Methods

Lists have a number of useful properties and methods available to them.

| Method |Description                            |
|----------|---------------------------------------|
| ``my_list.append()``|**Add an item to the end of a list.**<br>You’ll need to specify the item you are appending to the list.|
| ``my_list.insert()``|**Insert an item into a specific position in the list.**<br>You’ll need to specify the item you are inserting as well as<br>the position you’d like to insert it into.|
| ``my_list.remove()``|**Remove an item from a list.**<br>You’ll need to specify the item you are removing.<br>If there are duplicates in your list, it will only remove the first occurrence of that item.|
| ``my_list.pop()``  |**Remove an item from a list by index.**<br>This differs from remove() because you specify the **index** of the item<br>you are removing, instead of specifying the item itself.|
| ``my_list.sort()``  |**Sort the list.**<br>If the items in your list are all numbers, it will sort it by ascending numbers.<br>If your items are all strings, it will alphabetize your list.<br>If your list contains a mix of strings and numbers, you may run into an error.<br>You can specify ways to sort. Read documentation for more info.|
| ``my_list.reverse()``  |**Reverse the order of the items in your list.**<br>You don’t need to specify anything in this method.|

Let's take a look at how the following methods can be used on the example `some_list` below.

In [ ]:
# Use as RESET cell if needed
some_list = [1, 1, '2', 'hello?', 583, 'llama', [2,4,6], 3.14159]

Using the `len()` function tells us how many items are in the list.

In [33]:
# Length of a list
len(some_list)

#### A quick aside: what's the difference between a function and a method?

A **method** is a function that is **specific to a certain object or data type**. For example, the methods in the table above are specific to lists. A function, meanwhile, is more general and can apply to more than one object or data type.

You might have also noticed a syntax difference: **methods come _after_** the object, while **functions come _before_**:

The function `len()` can be used on many types of objects or data types:

In [1]:
len('somestring')

10

In [ ]:
len(some_list)

However, a list method...

In [ ]:
some_list.append(4)

...won't work on a string.

In [4]:
my_str = 'somestring'
my_str.append(4)

### <span style="color:orange"> EX8: List methods

Check the answers to the exercise here.

In [4]:
some_list = [1, 1, '2', 'hello?', 583, 'llama', [2,4,6], 3.14159]

(A) What code would you write if you wanted to add the number 314 after the item `'llama'` in `some_list`?

(B) How would `some_list` change if you ran the following line of code?

In [ ]:
some_list.pop()

(C) How would `some_list` change if you ran the following line of code?

In [6]:
some_list.append()

Note that each of these methods modify `some_list` **in place**. This means that will **keep all of the previous changes** you make to it. For example, if you run `some_list.append(11)` twice, `some_list` will have two 11s at the end.

If you need reset some_list, simply run the cell above to redefine `some_list`.

Predict what `some_list` will look like before executing the cell.

In [29]:
# Append a value to the end
some_list.append(11)
some_list

In [32]:
# Insert the item 'information' into the position with index 3
some_list.insert(3,'information')
some_list

In [ ]:
# Remove the item 1 from the list
some_list.remove(1)
some_list

In [ ]:
# Remove an item in position 0 in the list
some_list.pop(0)
some_list

In [ ]:
# Sort the list
some_list.sort()
some_list

In [ ]:
# Reverse the order of the list
some_list.reverse()
some_list

### <span style="color:orange">EX6
Say we have a list containing the names of several CSV files:

In [47]:
filenames = ['Mod-3-USA-19970101.csv','Mod-3-AUS-19970102.csv',
             'Mod-3-BRA-19970103.csv','Mod-3-CAN-19970204.csv',
             'Mod-3-ENG-19970105.csv']

**(A)** You notice that the fourth file, `Mod-3-USA-19970204.csv`, has the wrong month in the date - it should be `19970104` instead of `19970204`. How would you correct this file name in `filenames`?

In [34]:
# Your code here

**(B)** You want to extract the **day** within the date of the **last file** in `filenames`. That is, you want to extract the substring `'05'` from the `'19970105'` within `'Mod-3-ENG-19970105.csv'`.

What code could you write to do that?

**Tip - do this in two steps:**

   1) Extract the file name from `filenames`.
   
   2) Extract the day from the file name.

In [ ]:
# Your code here

---

## Tuples
A tuple is a data structure in Python where values are **ordered** but **unchangeable (“immutable”)**. Like a list, the **items are accessed through an index**. However, you **cannot add, delete, or change items** in a tuple after it is created.

Tuples are useful if you want to store pieces of information with a specific order that you don’t want to accidentally change - for example, an RGB code or a phone number.

In [ ]:
blue = (0,0,1)

In [ ]:
blue[0]

Tuples are *immutable* so they cannot be changed once created.

In [ ]:
blue[0] = 100

This may seem like a limitation but is in fact very useful if you don't want to accidently change something, like a list of constants. Tuples  are faster than lists and can be used in dictionaries.

---

## Dictionaries
A **dictionary** is a data structure in Python where **values are accessed by keys** instead of indices. Each item in a dictionary is a **key:value** pair.

Dictionaries are useful if you want to store pieces of information that are unique to that key - for example, a person (key) and their phone number (value), a country (key) and an abbreviation you’d like to assign to it (value), a color (key) and its RGB code (value).

In [11]:
colors = {'blue':(0,0,1), 'red':(1,0,0), 'green':(0,1,0)}
# or
colors = dict(blue = (0,0,1), red = (1,0,0), green = (0,1,0))

Items are accessed using the key you set when you make the dictionary:

In [ ]:
# Access a value via the key
colors['blue']

New items can be added to the dictionary using similar syntax.

In [ ]:
# Set a new key:value pair
colors['purple'] = (1,1,0)
print(colors)

### <span style="color:orange"> EX 7:
Create a dictionary called `constants` that holds the values of the following scientific constants:

|`pi`|`R`|`g`|
|--|--|--|
|`3.141`|`8.314`|`9.807`|

In [6]:
# Your code here

Add a key value pair for `phi`, which is equal to `1.618`.

In [ ]:
# Your code here

---

# 4. Control Flow
* With control flow, you can execute certain code blocks conditionally and/or repeatedly.
* Basic building blocks are:
    - *conditional statements* (including "``if``", "``elif``", and "``else``")
    - *loop statements* (including "``for``" and "``while``" and the accompanying "``break``", "``continue``", and "``pass``").

## Booleans

**Booleans**, or the ``bool`` data type, can take on only values of `True` or `False`. **Booleans are the basis for writing conditional conditional if statements**. (You can also use bools for indexing data, but we will not cover this until the data analysis section).

Booleans are the results of **logical operators**. The following are common logical operators:

|Less than|Greater than|Less than or equal to|Greater than or equal to|Equal to|Not equal to
|:-:|:-:|:-:|:-:|:-:|:-:|
| `<`|`>`|`<=`|`>=`|`==`|`!=`|

Note that the **boolean equal to “==” is different from “=”**, which is used to assign values to variables (eg, x = 3).

You can **combine boolean operators** to create more multi-conditional statements **using `and`/`or`**.

|And|Or|
|:-:|:-:|
| `and` or `&`|`or` or `\|`|

Some examples of boolean statements in action:

In [ ]:
test = 30 > 10
print(test)

In [ ]:
Test = True
Test2 = False
print(Test & Test2)

In [ ]:
A = 3
B = 1
print((A>B) | (A<0))

---

## Conditional Statements: ``if``-``elif``-``else``:
The **if statement** directs Python to **execute certain lines of code depending on whether a <u>certain condition is satisfied**. That condition is specified using a **boolean statement**.
    
The output of a boolean statement must always be `True` or `False` (i.e., a bool), or convertible to a bool (i.e., implicit booleaness; you can Google this term to learn more about it).

In [36]:
x = 1
if x>0:
    print('x is positive')

If the first condition is not true (i.e., the boolean statement returns False), then you may specify any number of **additional boolean statements** using **else ifs (`elif`)**. Lastly, you have the option to specify an **`else`**, which will execute **if neither the first if or any of the following `elif` boolean statements are true**.

In [39]:
x = 3
if x > 0:
    print('x is positive')
elif x < 0:
    print('x is negative')
else:
    print('x is zero')

**Comparison with R or MATLAB**: There is no `end` or curly braces `{}` to define the scope of if statements - the scope of if-elif-else statements are solely defined by the indentation.

### <span style="color:orange"> EX8: Practicing `if-elif-else` statements

Complete the code below so that:
* `status = 'Danger'` if `T` is above 40 or below 0
* `status = 'Optimal'` if `T` is between 15 and 30
* `status = 'Acceptable'` in all other cases.

In [ ]:
T = 20
if # Your code here:
    status = 'Danger'
elif # Your code here:
     status = 'Optimal'
# Your code here:
     status = 'Acceptable'

print(instruction)

---

## ``for`` loops
A **for loop** is used to execute some code for a **predetermined number of iterations**, normally determined by the size of your data set. The for loop is useful when you know how many iterations you need.

A basic ``for`` loop generally has 3 components:

1. The **indexing variable**, which takes on the value of every item in the iterable
2. The **iterable**, the collection of *things* you are iterating through
3. The **executable**, the code you are executing on each iteration.

In [ ]:
# A simple example of a for loop
for j in [0,1,2,3]:
    print(j+1)

`for` loops in Python are very similar to R in that setting the iterable is very flexible. You can directly use lists, arrays, or other data structures.

**Unlike MATLAB and R**, you can't use the "a:b" syntax, e.g., 1:5, to represent the numbers 1, 2, 3, 4, 5:

`for j = 1:5:
    print(j)`
    
The colon can only be used between numbers when you are using it to index something.

The built-in function `range()` is commonly used to create an iterable of sequential numbers from a starting point until stopping point in increments of a step you can specify:

In [ ]:
range(0,5)

In [15]:
list(range(0,5))

An example of how to use `range()` in a for loop:

In [14]:
for i in range(0,10):
    print(i)

### <span style="color:orange">EX9
    
Read the code below and answer the following questions:
    
1. How many total iterations will there be?
2. What is `j` on the 4th iteration?
3. What is `y` on the 4th iteration?

In [ ]:
x = [10,20,30,40,50]
for j in range(len(x)):
    y = x[j]/(j+1)

###  <span style="color:orange">EX10: Calculating the BMI of patients</span>

The equation for BMI is given by:
    
$BMI = \frac{W}{H^{2}}$
    
Suppose you have the heights and weights of 6 patients stored in the lists H and W, such that each element in the same position of H and W corresponds to the same patient (e.g., patient one is 1.76 m and weighs 75 kg). 

Complete the code below to compute the BMI of each patient, printing the BMI on each iteration.

This pseudocode should help you get started:
* Choose an iterable to represent the index of each patient.
* On each iteration, extract the height and weight of patient j (i.e., the jth element of both H and W).
* Use the extracted height and weight of the patient to calculate that patient's BMI.
* Print the calculated BMI.

In [ ]:
H = [176,162,181,153,170,168]
W = [75,65,83,54,91,62]

# Your code here
for j in : # your code here
    BMI =

---

## Common Implementations of For Loops

Loops are incredibly useful for generating and processing datasets. Some bits of code that are frequently used in loops are **appending** and **counters**.

#### Appending
In MATLAB, you generally preallocate an array when putting data into a data structure in a for loop. You generally do not need to do this in Python.

When adding data to a list, you can simply do it "in place" using the `.append()` method. Recall `.append()`, a `list` method that we can use to add an item to an end of a list.

For example, if `my_list = [1,2,3,4]`, then `my_list.append('hello')` would turn `my_list` into `[1,2,3,4,'hello']`.

The `.append()` method is very useful for when we want to perform an operation on every item in a list to create a new output. An example:

In [16]:
# List of first names
list1 = ['alice','tvetene','minerva','aparna','clara']
# List of last names
list2 = ['hsu','carlson','teli','anitha','kubler']

# The new list we want to fill with full names
new_list = []

# Iterate as many times as there are names in the list
for i in range(len(list1)):
    
    # Concatenate first and last names
    full_name = list1[i]+list2[i]
    
    # Add the full_name to the new list
    new_list.append(full_name)
    
print(new_list)

#### Counters

The idea behind the counter is that it **counts the number of iterations** you have done. Below is a simple implementation of a counter.

Counters can be useful for a few purposes:
* a counter can be used to index data within a data structure like a list
* a counter can help to debug code

Note that your **counter's variable name** needs to be **different from the indexing variable**.

In the code below, `j` is the counter.

In [17]:
# Initialize the counter
j = 0

for i in range(0,1000,20):
    
    # Increment the counter
    j = j+1

Because counters **count the number of iterations** you have done, it is very useful for debugging code. This is because if your code runs into an error in your loop, the **counter will tell us which iteration it was on when the error occurred**.

In this example, we will implement a counter to tell us which row has an error in it.

In [66]:
# Example of counter
dataset = [[9,0,2],[1,2,3],[5,6,2],[2,6,2],[3,1,'error'],[2,1,1],[3,2,2],[2,1,2]]

# Initialize the counter
i = 0

# For loop to interate through each row in dataset
for row in dataset:
    
    # Calculate the mean of the row
    row_mean = sum(row)/len(row)
    
    # Increment the counter
    i+=1

---

#### Do I always need to use a for loop to execute a computation on everything in a list? Isn't this super inefficient?

On the one hand, lists are great because they can hold different kinds of data (unlike vectors in MATLAB). On the other hand, doing computations with them can be very inefficient.

Generally, you will use a specific package like **NumPy** or **Pandas** packages to handle large datasets. These packages contain **data structures** that you can do **vectorized computations** in. We will cover these briefly below.

---

# A Brief Intro of Data Analysis in Python...

There are two primary packages that are used for doing data analysis in Python: **NumPy** and **Pandas**.

There are many other packages that have been developed for specific kinds of data (e.g., to look at geospatial data, meteorological data, DNA sequences, etc), but most of these are **built off of NumPy and Pandas**.

Here, we will do a **brief tour of what kinds of data can be processed and analyzed using these packages**. A deeper dive into these packages will be covered in the following PPD session, Data Analysis in Python.

To use specific packages in Python, we have to first download the package. Once downloaded, we then **import** them:
* _Note: if you use Python through Anaconda, NumPy and Pandas come pre-installed!_

In [1]:
import numpy as np
import pandas as pd

The `np` and `pd` you see above are called **aliases**. These aliases are used to call the functions or objects within the package:

In [5]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [ ]:
pd.DataFrame([1,2,3,4])

You can use whatever you want as an alias for a package, but `np` and `pd` are widely used standards for NumPy and Pandas.

## NumPy

**NumPy** is generally used to **handle numerical data**. This package is meant to make data behave similarly to the way matrices and vectors are handled in MATLAB.

You can do a wide range of data analysis in NumPy on matrices of data, including:
* **Basic statistics** (mean, median, min, max, percentiles, standard deviations)
* **Basic and matrix math** (elementwise adding, subtracting, multiplication, etc; linear algebra operations)
* **Statistical fitting** (linear or polynomial regressions)
* **Matrix maniplation** (reshaping, masking data)

As an example, say we have an array that represents the temperature taken every day of the week at different times of the day:

||**S**|**M**|**T**|**W**|**Th**|**F**|**S**|
|-|-|-|-|-|-|-|-|
|**9:00**|31|37|35|34|31|29|32|
|**12:00**|43|46|47|45|39|39|42|
|**15:00**|40|42|31|44|33|38|37|

In [49]:
T = np.array([[31,37,35,34,31,29,32],
[43,46,47,45,39,39,42],
[40,42,31,44,33,38,37]])
T

array([[31, 37, 35, 34, 31, 29, 32],
       [43, 46, 47, 45, 39, 39, 42],
       [40, 42, 31, 44, 33, 38, 37]])

You can access values in your data by **indexing** the same way as we did with lists:

In [47]:
T[0,:]

[31, 37, 35, 34, 31, 29, 32]

In [50]:
T[:,-1]

array([32, 42, 37])

You can easily perform **statistical analysis** on your data...

In [23]:
T.mean()

In [22]:
T.mean(axis=0)

In [21]:
T.mean(axis=1)

...and also do **computations** quickly.

In [52]:
T+273.15

In [54]:
(T*(9/5))+32

### Vectorization: Lists vs NumPy Arrays
Lists and NumPy arrays seem similar at first, but they function very differently.

**Lists** can hold **different data types** at a time. However, **computations must be done on each individual element**.
* If a list has 100 elements, to perform an operation on everything in the list, **you have to do 100 computations**.
    
    
**NumPy arrays** can only hold one data type at a time. However, **computations are <u>vectorized</u>**:
* You can perform a mathematical operation on every element at once.
* If a NumPy array has 100 elements, to perform an operation on everything in the array, **you have to do only 1 computation**.
    * Arrays are (generally) faster than lists.

In [29]:
T_list = [[31,37,35,34,31,29,32],
[43,46,47,45,39,39,42],
[40,42,31,44,33,38,37]]

In [31]:
T_list*0.9

If you plan to do geospatial analysis in Python, you will probably use the `netcdf4` or `xarray` packages, which use NumPy arrays.

## Pandas

**Pandas** is can be used to handle both **numerical and qualitative data**. The **DataFrame** is the basic data structure in Pandas.
* The DataFrame behaves similarly to the dataframe in R.
* The DataFrame is most similar to a structure (`struct`) in MATLAB.

Like lists, DataFrames can hold different kinds of data. They also make use of **labelled indexes** (as opposed to numerical indexing). This means you can access data using, e.g., a column name instead of a number.

Generally, you will load your data into Python as a CSV, Excel, or text file. Pandas supports many file types; you can find a full list [here](https://pandas.pydata.org/docs/user_guide/io.html).

In [35]:
gdp_df = pd.read_csv('GDP_data.csv',index_col=0)
gdp_df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Brazil,3766.548115,3176.289357,2855.940189,3090.607010,3663.823188,4827.781731,5934.144711,7409.691307,8908.331766,8678.659225,...,13396.624360,12521.721350,12458.891210,12274.993970,8936.196618,8836.286526,10080.509280,9300.661649,9029.833267,7074.193783
China,959.360431,1053.112314,1148.514257,1288.637491,1508.667916,1753.414192,2099.219430,2693.958732,3468.327063,3832.227457,...,5614.386022,6300.582180,7020.386074,7636.074340,8016.445595,8094.390167,8817.045608,9905.406383,10143.860220,10408.719550
"Egypt, Arab Rep.",1366.092744,1295.137418,1116.828846,1031.275563,991.255689,1104.803407,1298.979002,1547.741707,1896.215943,2161.639646,...,2590.643849,2996.067707,3025.525636,3133.391023,3306.981594,3270.628777,2395.103333,2484.703156,2962.988920,3511.113810
France,22340.593950,22331.794830,24144.572700,29479.522210,33644.928220,34696.371830,36431.565890,41486.190780,45464.818140,41728.088420,...,43929.784090,40863.581440,42669.179510,43148.045930,36702.432370,37024.215710,38687.162640,41418.176650,40408.284860,39169.860600
United Kingdom,28280.926790,27906.569500,30077.741430,34442.687540,40366.888670,42104.788440,44512.459030,50397.685500,47396.120210,38744.131690,...,42109.641880,42497.340500,43426.298140,47439.616590,44964.391140,40985.235140,40572.121480,43203.814110,42662.535370,40201.681240
India,442.750219,450.357901,469.149929,544.143133,624.258827,710.488080,801.668354,1021.887077,992.519585,1094.949746,...,1445.461275,1429.321995,1432.843975,1553.883961,1583.998159,1707.508929,1950.104683,1966.254552,2041.428637,1907.042516

To **access** data:

In [36]:
gdp_df['2000']

Brazil               3766.548115
China                 959.360431
Egypt, Arab Rep.     1366.092744
France              22340.593950
United Kingdom      28280.926790
India                 442.750219
Name: 2000, dtype: float64

In [37]:
gdp_df.loc['Brazil','2006']

5934.144711

**Another example**: used car sales data

In [39]:
car_df = pd.read_csv('car_data.csv')
car_df

,price_inr,age_yr,mileage_km,transmission,color,engine_cc,seats,tank_size_l
0,515000,3,3395,Manual,Others,1086,5,35.0
1,610000,3,3800,Manual,White,998,4,55.0
2,625000,3,7000,Manual,Grey,1196,7,40.0
3,650000,3,6000,Manual,White,1197,5,37.0
4,700000,3,1000,Manual,White,1199,5,35.0
...,...,...,...,...,...,...,...,...
1875,1000000,15,67000,Automatic,Silver,1798,5,63.0
1876,1000000,15,127000,Manual,White,2982,7,80.0
1877,1150000,15,120000,Automatic,Silver,2987,5,80.0
1878,1195000,15,74000,Automatic,Silver,2497,5,70.0
1879,2400000,15,34105,Automatic,Grey,1796,2,70.0

In [46]:
car_df['price_inr'].mean()

1686498.3563829786

# Coding Challenges

## Coding Challenge 1: Usernames

**<u>Concepts covered</u>**
* Strings and string methods
* Data type conversion
* Lists and indexing
* List methods
* `for` loops

**<u>Instructions</u>**

In this exercise, you have a list of names, `names`, that you need to generate usernames for. Each username must contain the name of the person plus their ID number, stored in `IDs`. For example, the first username would be `'alice142'`. Write a loop that combines creates a username for each item in `names` and `IDs`, and saves each username into the list `usernames`. For example, `usernames` should have a length of 5 and its first element would be `'alice142'`.

**<u>Pseudocode</u>**
* Use an iterable that represents an index on each iteration (such as in EX12).
    * Hint: recall how to access items in a list using their indices. You may find either the `range()` function or a counter useful for this.
* On each iteration, convert the element in ID into a string.
* On each iteration, concatenate (add together) the string in names and the number in ID to create the username for that person. For example, `'alice' + '142'` would return `'alice142'`.
* On each iteration, append the username you just created to the list `usernames`.
    * You will need the list method `.append()` for this.

In [ ]:
names = ['alice','clara','alfie','matthew','abdullah','ingo']
IDs = [142,753,243,457,503,294]
usernames = []

# Your code here

---

## Coding Challenge 2: Experiment Files

**<u>Concepts covered</u>**
* Strings and string methods
* Lists and indexing
* List methods
* `for` loops
* `if-elif-else` statements

**<u>Instructions</u>**

In this exercise, you have a list of files from different experiments you’ve conducted, `exp_files`. For each file, we want to extract the date, but only if it is for a file corresponding to experiment A (`expA`). Write a loop that extracts the dates for all the `expA` files only and saves them in a new list called `expA_dates`.

`expA_dates` should return `['20221024','20230814','20210203','20230523']` at the end of your code.

**<u>Pseudocode</u>**
* Use `exp_files` as the iterable.
* Your code should first check whether the file name has `'expA'` in it using an if statement.
    * Google “check if substring in string Python” and look at some of the Stack Overflow recommendations for going about this.
* On each iteration (that passes the condition above), extract the date from the file name.
    * You might find the string method `.split()` useful.
* On each iteration (that passes the condition above), append the extracted date to `expA_dates`.
    * You will need the list method `.append()` for this.

In [ ]:
exp_files = ['20221024_expA.xlsx','20231006_expB.csv','20230910_expC.csv',
              '20230814_expA.csv','20220405_expB.xlsx','20211201_expC.xlsx'
             '20210203_expA.xlsx','20220505_expB.csv','20211102_expC.xlsx'
             '20230523_expA.xlsx','20230611_expB.csv','20211102_expC.xlsx']

expA_dates = []
# Your code here

---

## Coding Challenge 3: A Fancier Temperature Converter

**<u>Concepts covered</u>**
* Basic maths
* Strings
* Lists and indexing
* List methods
* `for` loops
* `if-elif-else` statements

**<u>Instructions</u>**

In this exercise, you will write some code that converts a series of temperature measurements into Celsius. You have a series of temperature measurements stored in a list called `T`. The corresponding unit of each of the measurements is stored in a separate list called `units`. Your goal is to convert all of the measurements in `T` into Celsius, and store them to a list called `T_C`.

The formulae for converting from Fahrenheit and Kelvin are:

<center> $C = \frac{5}{9}*(F - 32)$ </center>
<center> $C = K - 273.15$ </center>

**<u>Pseudocode</u>**
* Use an iterable in your `for` loop that represents an index on each iteration (such as in EX12).
    * *Hint: recall how to access items in a list using their indices.*
    * You may find either the `range()` function or a counter useful for this.
* On each iteration, you should have a series of `if` statements that check the unit of that measurement in `units`.
    * Based on the unit, apply the correct temperature conversion formula.
* After applying the correct temperature conversion, save the converted value into `T_C`.

In [58]:
T = [30,280,14,85,58,317,251,305,5,69,301]
units = ['C','K','C','F','F','K','K','K','C','F','K']

T_C = []

# Your code here

---

# Functions

**Functions** generally take inputs (called **parameters**) and return one or more outputs. Functions are useful because they are reusable - you can run the same code on different variables without having to rewrite all the code every time.

Some examples of some functions:

In [ ]:
def f(x):
    y = x+1
    return y

In [ ]:
def g(x,y):
    z = x**2+**2
    return z

Note the syntax for defining a function.

* You must use the `def` keyword, followed by your **function name**, the **inputs** you would like to use in **parentheses**, and followed by a **colon**.
* The operations that you perform within your function must be **indented to the right of the `def` line** with your function name and inputs.
* You must **specify the outputs** you would like your function to compute using the **return** keyword.

###  <span style="color:orange">EX11</span>

**(A)** Write a function called parabola that takes an input `x` and outputs a point on the `parabola` y = x$^2$+2x+1.

In [ ]:
# Your code here

**(B)** Write a function called `circles` that takes a radius of a circle as input and returns
* the circumference
* the area of that circle

In [ ]:
# Your code here

---

# What did you think?

**Please take a few moments to leave your [course feedback here!](https://forms.office.com/Pages/ResponsePage.aspx?id=lYdfxj26UUOKBwhl5djwkFtIujJ9lCFMouysTWFV3rRURDJCTFpFOThXUTlDQlBONk9UMDNWUTg0SS4u)**

This is the first time this version of the Introduction to Python Course has been run. I am very eager for your feedback on what worked for your and what could be improved :)

Cheers,

Alice