# Introduction to [`Pandas`](https://pandas.pydata.org/docs/)

[`Pandas`](https://pandas.pydata.org/docs/) is a Python package used for working with large datasets of different types of data (e.g., numbers and names). It is very useful for observational/statistical datasets, as they look a lot like Excel spreadsheets.

It is very commonly used for working with data with many named features, or labels. Pandas is typically imported using the `pd` alias:

                                    import pandas as pd

For example, a market research dataset may contain demographic information about their customers. The <span style="color:blue">**rows**</span> (or <span style="color:blue">**index**</span>) in the dataset would represent each customer, while the <span style="color:darkred">**columns**</span> would represent the different characteristics of each customer.

<img src="figures/cust_df.png" style="height:30%; width:60%;">

Pandas is very powerful because it has functions and methods for:
* **Reading in, cleaning, merging, and formatting** data
    * CSV, txt, and other delimited files --> `pd.read_csv()`
    * Excel/ODS files --> `pd.read_excel()`
* **Statistical analysis**
* **Data labelling**
    * Can access, subset, or merge large datasets with **label or multiple labels**
* **GroupBy functionality** to analyze data sets by different indices or labels
* Built in functionality for handling **time series**
    * Pandas `datetime`
It is also compatible with many other useful packages, including Seaborn, a statistical plotting package.

[`Pandas`](https://pandas.pydata.org/docs/) is built on top of [`numpy`](https://numpy.org/doc/stable/index.html) and is integrates well with many other scientific computing packages, such as `xarray` and `seaborn`.

In [1]:
import pandas as pd

# Import other useful modules
import matplotlib.pyplot as plt
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Pandas DataFrames

Data in Pandas is typically handled as a Pandas DataFrame array. You can create a Pandas DataFrame by simply using the `DataFrame()` function.

Pandas DataFrames are similar to NumPy arrays, except datapoints in Pandas DataFrames have names, or **labels**.

The key inputs into this function are:
* The `data`: each of your data points
* The `index`: the (row) label assigned to each of your data points
* The `columns`: the name of the columns in your data

### Creating DataFrames

There are several ways to create DataFrames. The most convenient way will depend on how your data is entered into your notebook.

For example, if your data is formatted such that you have **each row** of data in a list, then you can create the DataFrame by specifying your data (`data`), your indexes (`index`), and your column names (`columns`).

Note that the thing you set **`index` equal to must have the same number of entries** as your data, and the thing you set **column equal to must have the same number of columns** as your data.

In [17]:
my_data = [['F',23,45000,'MS','USA'],
           ['M',34,36000,'BS','England'],
           ['NB',24,72000,'BS','USA'],
           ['F',65,32000,'HS','China']]
df = pd.DataFrame(data=my_data,
index=['cust01','cust02','cust03','cust04'],
columns=['Gender','Age','Income USD','Education','Country'])

df

       Gender  Age  Income USD Education  Country
cust01      F   23       45000        MS      USA
cust02      M   34       36000        BS  England
cust03     NB   24       72000        BS      USA
cust04      F   65       32000        HS    China

<span style="color:blue">**What is the shape of `df`? Check here using the `.shape` property.**

In [ ]:
#### YOUR CODE HERE ####

You can also create Pandas DataFrames from **Python dictionaries** (created using the curly braces, {}).

**Python dictionaries** are conducive to creating DataFrames because Pandas can recognize the **dictionary keys as column names** and the **dictionary values as values**.

In [22]:
# My data
temps = [31.5, 32.5, 30.2, 'err']
pressures = [100.0, 'err', 180.0, 190.0]
exps = ['Exp1','Exp2','Exp3','Exp4']

# Create a DataFrame with my data
d = {'Temp':temps, 'Pres':pressures}
exp_df = pd.DataFrame(data=d,index=exps)
print(exp_df)

      Temp Pres
Exp1  31.5  100
Exp2  32.5  err
Exp3  30.2  180
Exp4   err  190

Here, we have 2 columns of data that correspond with different experiments.
* What does the **index** represent in the DataFrame `df`? 
* What are the **names of the 2 columns of data**? What do each of these columns represent?
* Note the shape of each of the variables in my data (`temps`, `pressures`, `exps`). **What must be true about each of their shapes in order to make a DataFrame?**

When making a DataFrame, it is generally useful to ask yourself how the DataFrame will be structured - i.e., what will the **index** and the **columns** represent?

### <span style="color:darkorange"> Accessing Data in DataFrames </span>
    
In the following examples, we will be using the **temperature and pressure** data at the beginning of the worksheet:

In [30]:
# My data
temps = [31.5, 32.5, 30.2, 'err']
pressures = [100.0, 'err', 180.0, 190.0]
exps = ['Exp1','Exp2','Exp3','Exp4']

# Create a DataFrame with my data
d = {'Temp':temps, 'Pres':pressures}
exp_df = pd.DataFrame(data=d,index=exps)
exp_df

      Temp   Pres
Exp1  31.5  100.0
Exp2  32.5    err
Exp3  30.2  180.0
Exp4   err  190.0

### Accessing data using the `.loc[]` method

**Access a <u>column</u> of data**:

In [ ]:
exp_df['Temp']

How would you access the **pressure data (`Pres`) for all the experiments**?

In [ ]:
#### YOUR CODE HERE ####

**Access a <u>row</u> of data**:

In [ ]:
exp_df.loc['Exp1']

How would you access the **measurements for Experiment 4 (`Exp4`)**?

In [ ]:
#### YOUR CODE HERE ####

**Access a <u>single value</u>**:

In [33]:
exp_df.loc['Exp1','Temp']

How would you access the **error value in Experiment 2 (`Exp2`)**?

In [ ]:
#### YOUR CODE HERE ####

### Accessing data using the `.iloc[]` method

**Access a <u>column</u> of data**:

In [38]:
exp_df.iloc[:,0]

How would you access the **second column of data**?

In [ ]:
#### YOUR CODE HERE ####

**Access a <u>row</u> of data**:

In [37]:
exp_df.iloc[1]

How would you access the **third row of data**?

In [ ]:
#### YOUR CODE HERE ####

**Access a <u>single value</u>**:

In [ ]:
exp_df.iloc[1,1]

How would you access the **error value in Experiment 2 (`Exp2`)** using `iloc[]`?

In [ ]:
#### YOUR CODE HERE ####

## <span style="color:darkorange"> Methods and Properties for exploring Pandas DataFrames

When you first load in a dataset, you will want to know how it is formatted and what is in it. Pandas DataFrames have a range of useful properties and methods for figuring out what is in your dataset.

The syntax for using a method or property is your variable + a period + the method or property, with any relevant inputs to that method in parentheses. Note that properties don't have inputs, so you don't need the parentheses to call them. In the table below, the following methods are being performed on a DataFrame called `df`.

|Method/Property|Description|
|:-|-|
|`df.shape`|Get the shape (i.e., the dimensions; # of rows, columns) of the DataFrame
|`df.index`|See what's being used as the index (i.e., the vertical axis, or the labels for each of the rows)
|`df.columns`|See the column names (i.e., the horizontal axis, or the labels for each of the columns)
|`df.dtypes`|See the data types contained in each column of your DataFrame; if your column contains more than one data type, it will be labeled as an object.
|`df.head(n), df.tail(n)`|See the first (head) or last (tail) n values in your DataFrame. If you do not specify n, it defaults to the first or last 5 rows.
|`df.info()`|See a general summary of your DataFrame by column, including data types, data points, and memory usage

### Loading in CSV Data

In the following section, we will be **loading in a CSV file in as a Pandas DataFrame** and using some of the methods/properties in the table above to explore what is in the data.

The first thing you need to do when loading in a dataset is **finding where it is located on your computer/machine**.

Our data file should be `data` folder you downloaded. For the following example, we will be using an example dataset called `mpg.csv`.

In [4]:
# Get the file path
filepath = 'mpg_data.csv'

We will load in the data using [`pd.read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function, since we are working with a CSV (`.csv`) file. However, you can see how to load other data formats [here](https://pandas.pydata.org/pandas-docs/stable/reference/io.html).

Note that there are a range of settings you can apply when you read in data. A few important ones include:
* Setting the index column (`index_col`) --> use this if there is a column in your dataset already you want to use as the index (e.g., experiment names, dates, ID numbers)
* Setting the delimiter (`sep`)
* Skipping any header rows (`header`)

In [5]:
mpg_data = pd.read_csv(filepath)

# To display the data:
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,make,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford,torino
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford,mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw,pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge,rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford,ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy,s-10

### Data Exploration

**A.** If you have a particularly large dataset and want to **see just a few rows**:
* Use the `.head(n)` method to see the first *n* rows
* Use the `.tail(n)` method to see the last *n* rows
* If you do not specify *n*, it defaults to the first or last 5 rows

In [82]:
#### YOUR CODE HERE ####

In [35]:
#### YOUR CODE HERE ####

**B.** If you want to get the **shape** of your DataFrame:
* Use the `.shape` method
* Note that the shape does **not** include the index column.

In [68]:
#### YOUR CODE HERE ####

**C.** See what's being used as the **index** (i.e., the **vertical** axis, or the **labels for each of the <u>rows<u>**):

In [66]:
#### YOUR CODE HERE ####

**D.** See the **column names** (i.e., the **horizontal** axis, or the **labels for each of the <u>columns<u>**):

In [67]:
#### YOUR CODE HERE ####

**E.** If you want to know the **data type** in each column:

In [50]:
#### YOUR CODE HERE ####

**F.** See **general information** all at once, including memory usage:

In [49]:
#### YOUR CODE HERE ####

# Data Cleaning

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The truth about data science: cleaning your data is 90% of the work. Fitting the model is easy. Interpreting the results is the other 90%.</p>&mdash; Jake VanderPlas (@jakevdp) <a href="https://twitter.com/jakevdp/status/742406386525446144">June 13, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

## <span style="color:darkorange"> Dropping Data
    
Run the following cells to see how the different methods `drop()`, `dropna()`, and `drop_duplicates()` work on `df`.

In [71]:
df = pd.DataFrame([[4,2,7,3],[1,np.nan,6,2],[np.nan,np.nan,np.nan,np.nan],
                  [8,3,1,9],[np.nan,3,0,np.nan],[4,2,7,3]],
                 columns=['col1','col2','col3','col4'],
                 index=['idx1','idx2','idx3','idx4','idx5','idx6'])
df

      col1  col2  col3  col4
idx1   4.0   2.0   7.0   3.0
idx2   1.0   NaN   6.0   2.0
idx3   NaN   NaN   NaN   NaN
idx4   8.0   3.0   1.0   9.0
idx5   NaN   3.0   0.0   NaN
idx6   4.0   2.0   7.0   3.0

### Using the `.drop()` method

If you **know the labels (e.g., the column and/or the row index)** of the data you want to drop, then you can use the **`.drop()` method**.

Sometimes you may want to drop **rows** of data:

* When cleaning data, it is very common to drop rows of data points that don't meet criteria for keeping. For example, some data points may be missing certain information in important columns, be outliers, or you may find some other reason a data point is invalid.

In [76]:
df.drop('idx2',axis=0)

* The **first argument (`'idx2'`)** in the `.drop()` method specifies the **label we want to drop**.
    * In this case, `'idx2'` signifies the index of the row we want to drop.
* The **second argument (`axis=0`)** specifies the **axis in which to look for the `'idx2'` label**. In this case, the `axis=0` says to look for the label in the row names (a `1` would tell it to look for the label in the columns).

You can also drop **columns** of data.

In [ ]:
df.drop('col1',axis=1)

* The **first argument (`'col1'`)** in the `.drop()` method specifies the **label we want to drop**.
* The **second argument (`axis=1`)** specifies the **axis in which to look for the `'col1'` label**. In this case, the `1` says to look for the label in thr column names (a `0` would tell it to look for the label in the row indexes).

### Using the `.dropna()` method

Often, datasets will have missing data in certain rows or columns. However, you may not know exactly where these are or what their labels are. The `.dropna()` is useful because it can find these null/NaN values for you!

In [ ]:
df.dropna(how='any')

In [ ]:
df.dropna(how='all')

* The argument **`how='any'`** in the `.dropna()` method tells Pandas to **look for rows for which there are _any_ null values**.
    * This means that if a row has even a single column with missing data, it will be dropped.
* You can also specify **`how='all'`**. This argument tells Pandas to **look for rows for which _all_ the columns have null values**.
    * This means that _all_ the columns in a row must be missing data in order for it to be dropped.

In [ ]:
df.dropna(how='any',subset=['col2','col3'])

In [ ]:
df.dropna(how='all',subset=['col2','col3'])

* The argument **`subset=['col2','col3']`** in the `.dropna()` method tells Pandas to look for rows with null values but **_only within columns `col2` and `col3`_**.
    * For `how='any'`, this means that if a row has a null value in **either** `col2` or `col3` it will be dropped.
    * For `how='all'`, this means that if a row has a null value in **both** `col2` or `col3` it will be dropped.

### Using the `.drop_duplicates()` method

Often in data analysis you will want to drop duplicates in your dataset. However, similar to the null values, you may not know where they are or what their labels are. The `drop_duplicates()` method is useful because it can find duplicates for you!

In [ ]:
df.drop_duplicates()

In [ ]:
df.drop_duplicates(subset=['col1'])

* The argument **`subset=['col1']`** in the `.drop_duplicates()` method tells Pandas to look for rows with duplicate values but **_only within columns `col1`_**. If you don't specify a subset, it will drop 
    * Note that NaNs count as duplicates.

#### <span style="color:blue">EX 4: Check your answers here.

#### <span style="color:blue">EX 5: Check your answers here.

# <span style="color:darkorange"> Methods for Analyzing Data

When working with DataFrames, we may want to **compute statistics** on our data, such as:
* `df.mean()`
* `df.median()`
* `df.quantile()`
* `df.std()`
* `df.sum()`

When calling these methods on a DataFrame, it will **calculate these statistics for each column** (where possible).

Run the cells below to see how the methods work.

In [6]:
mpg_data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,make,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford,torino

In [89]:
mpg_data.mean()

In [ ]:
mpg_data.median()

In [92]:
mpg_data.quantile(0.9)

In [96]:
mpg_data.std()

In [94]:
mpg_data.sum()

However, more often than not, we will want to compute these statistics on subsets of our datasets, instead of the whole thing.

For example, what if I wanted to look at the **mean mpg for cars from each origin**? The section below will cover how to do this.

### Boolean Masking

When analyzing data, often it is useful to extract certain data points that have properties in common with one another.

For example, consider the columns in `mpg_data`.

In [7]:
mpg_data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,make,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford,torino

In this dataset, we might be interested in looking at just the **data for cars whose `origin` is `'europe'`**. But how can we extract this data?

Recall that we used the **`.loc[]`** method to extract **specific rows** of data. We can use `.loc[]`, along with a **boolean mask**, to filter out this data.

A **boolean mask** is just an array of `True` and `False`, where the locations of the `True` correspond to the data you want to extract, and the `False` correspond to the locations of the data you want to mask out.

A simple example:

Consider an array, `x`.

In [80]:
x = np.array([1,3,-3,2,8,4])

Suppose we wanted to extract all values **less than 3**. The boolean mask would then be:

In [81]:
x<3

array([ True, False,  True,  True, False, False])

Notice how the **boolean mask has the exact same shape as the data we are masking**. To apply the mask, we then type:

In [82]:
x[x<3]

array([ 1, -3,  2])

Now returning to `mpg_data`, to extract just the data points corresponding to the `europe` cars, we would type:

In [87]:
mpg_data.loc[mpg_data['origin']=='europe']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
...,...,...,...,...,...,...,...,...,...
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
359,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup

Now that we've extracted the EU car data, we can look at the statistics for just these cars:

In [101]:
EU_mpg_data = mpg_data.loc[mpg_data['origin']=='europe']

EU_mpg_data.mean()

mpg               27.891429
cylinders          4.157143
displacement     109.142857
horsepower        80.558824
weight          2423.300000
acceleration      16.787143
model_year        75.814286
dtype: float64

<span style="color:darkorange"> What code would you write to compute the **mean mpg** for all **4-cylinder** cars?

In [ ]:
#### YOUR CODE HERE ####

But what if we wanted to compute statistics for multiple groups of data within our DataFrame? Thankfully, Pandas has a function just for that! Introducing...

### Using the **`GroupBy()`** Method

`GroupBy()` is a method that allows you to group data by the different datapoints. It works by grouping data that is similar in the column(s) you specify.

You can then perform a statistical operation - e.g., taking the mean, standard deviaion, or simply counting - on that group.

For example, say you wanted to calculate the **mean** of the cars **from each different origin**. The `groupby()` method will identify all the unique origins, and then it will calculate the mean of each origin:

In [99]:
mpg_data.groupby(['origin']).mean()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
origin,,,,,,,
europe,27.891429,4.157143,109.142857,80.558824,2423.300000,16.787143,75.814286
japan,30.450633,4.101266,102.708861,79.835443,2221.227848,16.172152,77.443038
usa,20.083534,6.248996,245.901606,119.048980,3361.931727,15.033735,75.610442

* In this line of code, the `['origin']` indicates that we will be grouping the data by all the unique values it can find in that column.
* The `.mean()` then indicates that for each group of data, we will calculate the mean for each column (where this is possible).

Often, it is useful just to see how many data points there are per group. You can do this using the `.size()` method:

In [97]:
mpg_data.groupby(['origin']).size()

origin
europe     70
japan      79
usa       249
dtype: int64

<span style="color:darkorange"> **Group the data by the `make` of the car and count how many data points there are per `make`. Then, calculate the <u>median</u> for each `make`.**

In [ ]:
#### YOU CODE HERE ####
mpg_data.groupby()

Finally, note that you can also **group things by multiple columns**.

This first part of the code (`.groupby(['origin','make'])`) **groups everything first by `origin`** (`europe`,`japan`,`usa`), and then it **breaks those groups into smaller sub-groups** by the **`make`**.

The `.size()` part then tells it to compute the number of data points in each of the sub-groups.

In [127]:
mpg_data.groupby(['origin','make']).size()

# Practical: Working with the Titanic Survivors Dataset

This dataset is very commonly used to teach supervised machine learning - it has many columns that can be used as predictors but requires some cleaning. Perfect for applying some of the skills we just learned!
1. First, make sure you have downloaded the data to a location on your machine that you can easily find. You can download the data from the UEA Python PPD GitHub [link here](https://github.com/ueapy/ppd_python/tree/master/notebooks-2025-2026).


2. Next, we will **load the dataset into our notebook**. Follow the instructions in the worksheet to complete this step.

In [8]:
ts_df = pd.read_csv('')

### Data Exploration

3. Display the dataset and take a look at the data in it.

You may look back to the Methods and Properties for exploring Pandas DataFrames section for some helpful methods. **<span style="color:blue">Fill in the questions in the worksheet</span>** to orient yourself around the dataset.

In [12]:
ts_df

### Data Cleaning
It looks like the `sex` and `adult_male` columns tell us the same information, so let's get rid of the  `adult_male` column.

<span style="color:blue">**4a.**</span> What method would you use to drop a column of data? Write the answer in your worksheet.

<span style="color:darkorange">**4b**</span>.  What code would you write to drop this column?
* Note: make sure to add the argument `inplace=True` within the method when writing your code.

You decide that the **age**, **the survival status**, and **class** are important variables for your analysis, so you'd like to **get rid of the data points that are missing _any_ of these variables (i.e., a NaN)**.

<span style="color:blue">**4c.**</span> What method would you use to drop rows of data? Write the answer in your worksheet.

<span style="color:darkorange">**4d**</span>. What code would you write to get rid of these rows of data?

Just to be sure you dataset is robust, you should **get rid of any duplicates** in your dataset.

<span style="color:blue">**4e.**</span> What method would you use to drop duplicates? Write the answer in your worksheet.

<span style="color:darkorange">**4f**</span>. What code would you write to get rid of the duplicates?

### Data Analysis

You want to know **how many people survived** the Titanic shipwreck in your dataset.

<span style="color:blue">**5a.**</span> What concept(s) or method(s) could you use to compute this value?

<span style="color:darkorange">**5b**</span>.  What code could you write to do this?
_Hint: think about which column(s) you need for this._

You want to know **how many people who survived the Titanic shipwreck were under the age of 30**.

<span style="color:blue">**6a.**</span> What concepts(s) or method(s) could you use to extract just the rows of data for passengers under the age of 30? For just the survivors?

<span style="color:blue">**6b.**</span> What concepts(s) or method(s) could you use to analyze multiple features (i.e., columns) at once?

<span style="color:darkorange">**6c**</span>. What code could you write to do this? _Hint: you can use `groupby()` or boolean masks to do this._

You want to know **what proportion of people who survived the Titanic shipwreck were male or female**.

<span style="color:blue">**7a.**</span> What column in the Dataframe is useful for this calculation?

<span style="color:blue">**7b.**</span> What method(s) could you use to calculate this information?

<span style="color:darkorange">**7c.**</span> What code could you write to do this?

## Exporting data

A very useful feature of Pandas is the ability to write and export data to a `.csv` (comma seperated value) file that can be read easily by programs like Excel:

In [80]:
ts_data.to_csv('titanic_cleaned.csv', index=False)

# Other useful Pandas Operations

More examples: https://jakevdp.github.io/PythonDataScienceHandbook/05.06-linear-regression.html

## Extra tutorials

Online tutorials with more in-depth operations used in pandas:

* [Kaggle tutorial](https://www.kaggle.com/learn/pandas)
* [Pandas official website Getting Started](https://pandas.pydata.org/docs/getting_started/index.html#getting-started)

## References
* https://github.com/jonathanrocher/pandas_tutorial
* https://github.com/koldunovn/python_for_geosciences
* http://pandas.pydata.org/pandas-docs/stable/index.html#module-pandas
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://towardsdatascience.com/linear-regression-in-6-lines-of-python-5e1d0cd05b8d